Package: flashplayer-sa-projector
Version: 32.0.0.192
Installed-Size: 17612
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: utils
Architecture: amd64
Priority: optional
Homepage: https://www.adobe.com/support/flashplayer/debug_downloads.html
Description: Flash Player Standalone Projector.
 App para executar arquivos swf.
